@charset "UTF-8";
*,*::before,*::after{
    box-sizing: border-box;/* 알아보기 */
    margin: 0;
    padding: 0;  /* 불릿은 패딩영역에만 나온다. */  
    list-style-type: none;  
    /* : 이것도 안쓰는 것. 패딩이 지정됬을 경우 이렇게 쓰면 됨 */
    font: inherit;/* 강제상속. 예를들어 바디요소의 폰트 사이즈를20픽셀로 선언하면 모두 커지는데 메인메뉴의 볼드체도 사라지고 본문 처럼 됨 근데 a 태그는 안먹음. 케스케이드 됨*/
    /* .menu a{ color: rgb(110, 7, 245);} */
}
a{
    color: inherit;
    text-decoration: none; /* 밑줄 없어짐 . 마크업할탠 디자인보다 의미를 중점적으로 봐라*/
}
img{
    max-width: 100%;
    height: auto;
    /* 위 두가지가 이미지 반응형 설정 */
}
/* 숨김컨텐츠 */
.readable-hidden{
    /* background-color: dodgerblue; */
    /* display: none; 이라면 안읽힘. */
    position: absolute;
    /* left: -9999em;
    화면상에서 안보이게. 근데 가상커서가 컨텐츠를 읽다가 위치를 잃어버림 */
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* 0으로 주면 못읽음. 그리고 점이 남음 */
    margin: -1px;
    clip: rect(0,0,0,0); /* 앱솔루트 상태여야 함 */ 
    /* 이러한 자주 쓸 듯한 패턴은 남기기 */
}
body{
    background:url("../images/1.jpg") no-repeat 0 0/cover fixed;
}
/* 헤더공통 */
.header{
    background: #FFF;
    z-index: 10;
}
/* 광고공통 */
.ad{
    color: #fff;
    font-size: 3em;
    min-height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em; */ /* 플렉스박스로 글자 가운데 아래 배치 */
}
.ad-content{
    position: sticky;
    top:100px;
    text-align: right;
    /* text-transform: uppercase; */

}
/* 메인공통 */
.main{
    background-color: #fff;
}
/* 푸터공통 */
.footer{
    background-color: #181818;
    color:#fff;
}
/* 모바일 스몰 디바이스 */
@media screen and (min-width:1px)and (max-width:550px){
    /*모바일 small 로고 */
    .logo{
        /* background-color: beige; */
        width: 35%;
        margin-left: 2em;
    }
    /*모바일 small 메뉴 */
    .btn-wrapper{
        /* background: blanchedalmond; */
        position: fixed;
        top: 1em;
        right: 1em;
        width: 40px;
        height: 40px;
        overflow: hidden;
    }
    .btn-menubar{
        border:0;
        background: transparent;
        padding: 0;
        color: rgba(0, 0,0, 0);
        cursor: pointer;
        /* 버튼은 브라우저마다 기본모양이 다르당. 위는 일다 다 안보이게 속성 없앤거*/
    }
    .menubar{
        cursor: pointer;
        position: absolute;
        display: block;
        background:#181818;
        border-radius: 10px;
        width: 100%;
        height: 25%;
        transition: all 200ms;
    }
    .menubar-top{
        top: 0;
    }
    .menubar-act.menubar-top{
        transform: translateY(-50%) rotate(45deg);  /* 이건 이동하는 순서를 생각해야 함. */
        top: 50%;
    }
    .menubar-middle{
        top: 50%;
        transform: translateY(-50%);
    }
    .menubar-act.menubar-middle{
        transform: translate(-100%, -50%);
    }
    .menubar-bottom{
        top: 100%;
        transform: translateY(-100%);
    }
    .menubar-act.menubar-bottom{
        transform: translateY(-50%) rotate(-45deg);
        top: 50%;
    }
    .menu{
        background: rgba(0, 0, 0,.85);/* 반투명 */
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        z-index: 10;
        color: #fff;
        padding: 3em 0 0 2em;
        transform: translateX(-100%); /* 일단은 숨겨놓고 버튼을 누르면 나오도록. left를 음수로 설정할 수 있지만 이건 느림  */
        transition: all 300ms;
    }
    .menu-act{
        transform: translateX(0%);
    }
}
/* 모바일 디바이스 */
@media screen and (min-width:551px) and (max-width:999px){
    /* 모바일로고 */
    .logo{
        width: 50%;
        margin: 0 auto;
    }
    /* 모바일 메뉴 */
    .btn-wrapper{
        display: none;
    }
    .menu{
        /* background-color: rgb(60, 48, 230); */
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
    .menu a{
        display: block;
        /* background-color: rgb(200, 255, 20); */
        padding: 1em;
        text-transform: uppercase;
    }

}

/* 데탑 디바이스 */
@media screen and (min-width:1000px){
    /* 데탑 헤더 */
    .header{
        /* display: flex;
        justify-content: space-around; */
        display: grid;
        grid-template-areas: "logo    menu";
        /* background-color: rgb(238, 255, 0); */
        align-items: center;
        padding: 1em 2em ;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
    }
    /* 데탑로고 */
    .logo{
        grid-area: logo;
        width: 20%;
        /* background-color: deeppink; */

    }
    /* 데탑메뉴 */
        .btn-wrapper{
            display: none;
        }
        .menu{
            grid-area:  menu;
            display: flex;
            /* background-color: darkturquoise; */
        }
        .menu a{
            display: block;
            padding: 1em 1em 1em 0;
        }
        .menu a::before{
            content: "|";
            padding-right: 1em;
        }
        .menu li:first-child a::before{
            content: "";
        }
        .ad{
            /* background-color: rgb(226, 226, 226); */
            height: 50vh;
        }
        .main{
            /* background-color: rgb(68, 0, 255); */
            height: 50vh;
        }
        .footer{
            /* background-color: darkgray; */
            height: 50vh;
        }

}


