@charset "UTF-8";
*,*::before,*::after{
    box-sizing: border-box;/* 알아보기 */
    margin: 0;
    padding: 0;  /* 불릿은 패딩영역에만 나온다. */  
    list-style-type: none;  
    /* : 이것도 안쓰는 것. 패딩이 지정됬을 경우 이렇게 쓰면 됨 */
    font: inherit;/* 강제상속. 예를들어 바디요소의 폰트 사이즈를20픽셀로 선언하면 모두 커지는데 메인메뉴의 볼드체도 사라지고 본문 처럼 됨 근데 a 태그는 안먹음. 케스케이드 됨*/
    /* .menu a{ color: rgb(110, 7, 245);} */
}
a{
    color: inherit;
    text-decoration: none; /* 밑줄 없어짐 . 마크업할탠 디자인보다 의미를 중점적으로 봐라*/
}
img{
    max-width: 100%;
    height: auto;
    /* 위 두가지가 이미지 반응형 설정 */
}
/* 숨김컨텐츠 */
.readerble-hidden{
    background-color: dodgerblue;
    /* display: none; 이라면 안읽힘. */
    position: absolute;
    /* left: -9999em;
    화면상에서 안보이게. 근데 가상커서가 컨텐츠를 읽다가 위치를 잃어버림 */
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* 0으로 주면 못읽음. 그리고 점이 남음 */
    margin: -1px;
    clip: rect(0,0,0,0); /* 앱솔루트 상태여야 함 */ 
    /* 이러한 자주 쓸 듯한 패턴은 남기기 */
}
/* 모바일 디바이스 */
@media screen and (max-width:999px){
    /* 모바일로고 */
    .logo{
        width: 50%;
        margin: 0 auto;
    }
    /* 모바일 메뉴 */
    .menu{
        background-color: rgb(60, 48, 230);
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
    .menu a{
        background-color: rgb(200, 255, 20);
        padding: 1em;
        text-transform: uppercase;
    }

}

/* 데탑 디바이스 */
@media screen and (min-width:1000px){
    /* 데탑 헤더 */
    .header{
        /* display: flex;
        justify-content: space-around; */
        display: grid;
        grid-template-areas: "logo    menu";
        background-color: rgb(238, 255, 0);
        align-items: center;
        padding: 1em 2em ;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    /* 데탑로고 */
    .logo{
        grid-area: logo;
        width: 20%;
        background-color: deeppink;

    }
    /* 데탑메뉴 */
        .menu{
            grid-area:  menu;
            display: flex;
            background-color: darkturquoise;
        }
        .menu a{
            display: block;
            padding: 1em 1em 1em 0;
        }
        .menu a::before{
            content: "|";
            padding-right: 1em;
        }
        .menu li:first-child a::before{
            content: "";
        }
        .ad{
            background-color: rgb(226, 226, 226);
            height: 50vh;
        }
        .main{
            background-color: rgb(68, 0, 255);
            height: 50vh;
        }
        .footer{
            background-color: darkgray;
            height: 50vh;
        }

}


